h2, h3, p {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h2 {
	/* color: rgb(40,40,40); */
	font-size: 120%;
	margin-top: 1em;
	position: relative;
	top: 1.3em;
	text-align: right;
	width: 20%;
}

h3 {
	line-height: 2em; 
	position: relative;
	top: 1.7em;
	text-align: right;
	width: 20%;
}

p {
	position: relative;
	top: -.1em;
	left: 33%;
	margin-bottom: 1em;
	margin-right: 0;
	width: 65%;
}

code {
	font: normal normal;
	font-size: 80%;
	font-family: monospace,sans-serif;
	position: absolute;
	top: .2em;
	left: -18%;
	width: 14%;
	text-align: center;
}

@media screen and (max-width: 730px) {
	h2 {
		font-size: 160%;
		margin-top: 1em;
		margin-bottom: .5em;
		position: relative;
		top: 0;
		text-align: left;
		left: 20%;
		width: 100%;
	}
	
	h3 {
		font-size: 120%;
		margin-top: .5em;
		margin-bottom: .3em;
		position: relative;
		top: 0;
		text-align: left;
		left: 20%;
		width: 100%;
	}
	
	p {
		position: relative;
		top: -.1em;
		left: 20%;
		margin-bottom: 1em;
		margin-right: 0;
		width: 80%;
	}
	
	code {
		font: normal normal;
		font-size: 80%;
		font-family: monospace,sans-serif;
		position: absolute;
		top: .2em;
		left: -27%;
		width: 20%;
		text-align: center;
	}
}

.titlebar {
	display: grid;
	grid-template-columns: 33% auto;
	grid-template-rows: auto auto;
	align-items: center;
	grid-template-areas: 
		"photo title"
		"photo download";
}

.titlebar h1 {
	grid-area: title;
	left: 0;
	margin-bottom: 0;
}

.titlebar p {
	grid-area: download;
	position: relative;
	left: 0;
	margin-bottom: 0;
	width: 100%;
}

.pic_box {
	display:flex;
	align-items: center;
	grid-area: photo;
}

.picture {
	border-radius: 50%;
	/* box-shadow: 0 10px 20px rgba(0,0,0,0.1), 10px 0 20px rgba(0,0,0,0.1); */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

