
@charset "utf-8";

@import "github.css";

// This is the minima classic theme

$brand-color:           #828282 !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$site-title-color:      $brand-color-dark !default;

$text-color:            #111111 !default;
$background-color:      #fdfdfd !default;
$code-background-color: #eeeeee;

$link-base-color:       #4D9093;
$link-visited-color:    #E9806E;
$link-hover-color:      $text-color !default;

$border-color-01:       $brand-color-light !default;
$border-color-02:       lighten($brand-color, 35%) !default;
$border-color-03:       $brand-color-dark !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 37%) !default;
$table-border-color:    $border-color-01 !default;
$base-font-weight:          450;

@media (prefers-color-scheme: dark) {

    // This is the minima dark theme
	
    $brand-color:           #999999 !default;
    $brand-color-light:     lighten($brand-color, 5%) !default;
    $brand-color-dark:      darken($brand-color, 35%) !default;
    
    $site-title-color:      $brand-color-light !default;
    
    $text-color:            #bbbbbb !default;
    $background-color:      #181818 !default;
    $code-background-color: #212121 !default;
    
    $link-base-color:       #79b8ff !default;
    $link-visited-color:    $link-base-color !default;
    $link-hover-color:      $text-color !default;
    
    $border-color-01:       $brand-color-dark !default;
    $border-color-02:       $brand-color-light !default;
    $border-color-03:       $brand-color !default;
    
    $table-text-color:      $text-color !default;
    $table-zebra-color:     lighten($background-color, 4%) !default;
    $table-header-bg-color: lighten($background-color, 10%) !default;
    $table-header-border:   lighten($background-color, 21%) !default;
    $table-border-color:    $border-color-01 !default;
}