
$link-base-color:           #2a9d8f;
$link-visited-color:        $link-base-color;
// $code-background-color:     lighten($link-base-color, 55%)
$code-background-color:     darken($link-base-color, 32%);
$base-font-weight:          450;
// @import "monokai.css";